@font-face {
    font-family: 'Ubuntu_400';
    src: url('./font/Ubuntu-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu_700';
    src: url('./font/Ubuntu-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: Ubuntu_400;
}

a {
    text-decoration: none;
}

:root {
    --header_color: rgb(0, 0, 0, 0.4);
    --main_white_color: #FFFFFF;
    --main_green_color: #3CB878;
    --hover_green_color: #01813F;
    --font_focus_color: #434343;
    --font_non_focus_color: #BEBEBE;
    --border_color: #F2F2F2;
    --box_shadow: rgba(0, 0, 0, 0.21);
    --or_color: #848484;
    --main_facebook_color: #305DB8;
    --hover_facebook_color: #022263;
    --main_google_color: #DF4A32;
    --hover_google_color: #AB1F09;
    --check_box_bacgraund_color: rgba(0, 0, 0, 0.0001);
}

body {
    background-image: url(./img/background.png);
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section_hero {
    padding: 18px 10px;
    background-color: var(--header_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main_white_color);
}

.logo:hover {
    color: var(--hover_green_color);
}

.nav_elements {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_item_svg {
    margin-left: 25px;
    fill: var(--main_white_color);
}

.nav_item_svg:hover path {
    fill: var(--hover_green_color);
}

.divider {
    width: 1px;
    height: 19px;
    margin: 0 25px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 50%;
}

.nav_sign,
.nav_sign_log,
.nav_sign_reg {
    font-size: 14px;
    color: var(--main_white_color);
}

.nav_sign :not(span) {
    text-transform: capitalize;
}

.nav_sign_log:hover {
    color: var(--hover_green_color);
}

.nav_sign_reg:hover {
    color: var(--hover_green_color);
}

.form_box {
    max-width: 444px;
    width: 100%;
    position: absolute;
    top: calc(50% - 584px/2 + 58px);
    left: calc(50% - 444px/2);
    background-color: var(--main_white_color);
}

.form_box_container {
    position: relative;
    padding: 30px 60px 38px;
}

.form_decor_element {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: var(--main_green_color)
}

.form_box_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box_name_sign {
    font-size: 20px;
    text-transform: capitalize;
    color: var(--font_focus_color);
}

.box_name_log {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--main_green_color);
}

.box_name_log:hover {
    color: var(--hover_green_color);
}

.box_name_log::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: var(--hover_green_color);
    display: block;
    transition: width .3s ease-in-out;
}

.box_name_log:hover::after {
    width: 100%;
}

.box_sign_buttons {
    margin: 15px 0px 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.facebook_btn {
    padding: 10px 22px 10px 17px;
    box-sizing: border-box;
    background-color: var(--main_facebook_color);
    border-radius: 4px;
}

.facebook_btn:hover {
    background-color: var(--hover_facebook_color);
}

.google_btn {
    padding: 10px 28px 10px 12px;
    box-sizing: border-box;
    background-color: var(--main_google_color);
    border-radius: 4px;
}

.google_btn:hover {
    background-color: var(--hover_google_color);
}

.facebook_btn_divider {
    width: 1px;
    height: 28px;
    margin: 0px 18px 0px 19px;
    background-color: rgba(10, 22, 47, 1);
    opacity: 0.1;
}

.google_btn_divider {
    width: 1px;
    height: 28px;
    margin: 0px 30px 0px 7px;
    background-color: rgba(43, 13, 9, 1);
    opacity: 0.1;
}

.btn_sign {
    text-transform: capitalize;
    color: var(--main_white_color);
}

.line {
    position: relative;
    text-align: center;
    color: var(--or_color);
}

.line::before,
.line::after {
    position: absolute;
    content: "";
    width: 152px;
    height: 1px;
    background-color: var(--border_color);
}

.line::before {
    top: 51%;
    right: 50%;
    margin-right: 12px;
}

.line::after {
    top: 51%;
    left: 50%;
    margin-left: 12px;
}

.input_form {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.input_item {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid var(--border_color);
    border-radius: 4px;
    font-size: 14px;
    color: var(--font_non_focus_color);
}

.input_item::placeholder {
    color: var(--font_non_focus_color);
}

.input_item:focus {
    box-shadow: 0px 3px 8px var(--box_shadow);
    outline: none;
    color: var(--font_focus_color);
}

.checkbox {
    display: flex;
    align-items: center;
}

.input_chackbox {
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--border_color);
    border-radius: 3px;
    background-color: var(--check_box_bacgraund_color);
}

.input_chackbox:checked::after {
    position: absolute;
    content: "\2713";
    top: -5px;
    left: 1px;
    color: var(--main_green_color);
    font-size: 20px;
    font-weight: bold;
}

.colored_sign_checkbox {
    position: relative;
    color: var(--main_green_color);
}

.colored_sign_checkbox:hover {
    color: var(--hover_green_color);
}

.colored_sign_checkbox::after {
    position: absolute;
    content: "";
    bottom: 1px;
    width: 0%;
    height: 1px;
    left: 0px;
    background-color: var(--hover_green_color);
    display: block;
    transition: width .3s ease-in-out;
}

.colored_sign_checkbox:hover::after {
    width: 100%;
}

label {
    margin-left: 5px;
}

.btn_submit {
    width: 100%;
    padding: 14px 0;
    box-sizing: border-box;
    justify-content: center;
    opacity: 0.8;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: var(--main_white_color);
    background-color: var(--main_green_color);
}

.btn_submit:hover {
    background-color: var(--hover_green_color);
}